.env
file/tmp/*
log/*

# Docker related
data/
data/tmp/
data/logs/
unraid/data/
.docker_local_run_script.sh

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local builded binary
/bin/xteve-channel-alerts

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

# End of https://www.toptal.com/developers/gitignore/api/go
.vscode

# AIR tmp folder
/tmp/
coverage.txt

# Mac .DS_Store
**/.DS_Store